.wrapper {
  height: 100vh;
  width: 100vw;
  background: #f2fff5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #eef2f3,
    #f2fff5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #eef2f3,
    #f2fff5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 40px;
}
.users {
  width: 70%;
  margin: auto;
}
.users-list {
  display: none;
}
.form-title {
  text-align: center;
}
.error-msg {
  color: red;
}
.data-header {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #5f986c;
  color: #fff;
  padding: 15px 8px;
  text-align: center;
}
.data-txt {
  color: #807e7e;
}
